# Entornos Virtuales
.venv/
venv/
env/

# Variables de Entorno y Secretos
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Artefactos de MLOps (Modelos y Scalers)
modelos/*.keras
modelos/*.joblib
modelos/backup/

# Datos y Logs (No subir bases de datos ni logs generados localmente)
datos/*.csv
datos/*.json
datos/*.log
*.log

# IDEs
.vscode/
.idea/
